<section>
  <div class="container">
    <div class="row">
      <div class="col s12 offset-m2 m8 offset-m2 offset-l3 l6 offset-l3 offset-xl4 xl4 offset-xl4 ">
        <mz-card [hoverable]="true">
          <mz-card-title>
            <div class="center-align">
              {{'title.login' | translate}}
            </div>
          </mz-card-title>
          <mz-card-content>
            <form>
              <div class="row">
                <mz-input-container class="col s12">
                  <i mz-icon-mdi mz-input-prefix [icon]="'account'"></i>
                  <input mz-input #loginuser id="loginuser" type="text" class="form-control" name="loginuser" value="" 
                           [label]="'label.user' | translate"
                           (keyup.enter)="focusp($event, loginpwd)"
                           [(ngModel)]="state.loginuser" />   
                </mz-input-container>
              </div>
              <div class="row">
                <mz-input-container class="col s12">
                  <i mz-icon-mdi mz-input-prefix [icon]="'lock-outline'"></i>
                  <input mz-input
                    [label]="'label.password' | translate"
                    id="loginpwd" type="password" class="form-control" name="loginpwd" placeholder="Heslo" #loginpwd
                           (keyup.enter)="service.login()"
                           [(ngModel)]="state.loginpwd" />
                </mz-input-container>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button *ngIf="!state.logged" mz-button [large]="'true'" class="col s12" (click)="service.login()">
                    {{'btn.login' | translate}}
                  </button>
                </div>
              </div>
            </form>
            <div class="alert alert-warning" *ngIf="state.loginError">
              {{'Špatné přihlašovací údaje' | translate}}.
            </div>
          </mz-card-content>
        </mz-card>
      </div><!--/.col -->
    </div><!--/.row -->
  </div><!--/.container -->
</section>