::ng-deep {
  .app-edit-col{
    position:relative;
    overflow: hidden;
    padding: 0 !important;
  }
  .app-edit-col ng-progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .ng-progress-bar {
      position: absolute;
    }
  }
}