<section>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5>{{'title.admin-page' | translate}}</h5>
        <div class="row">
          <div class="col s12 xl3">
            <mz-collection *ngIf="menu">
              <app-menu-tree [dir]="menu"></app-menu-tree>
             
            </mz-collection>  
          </div><!--/.col -->
          <div class="col s12 xl9">
            <mz-textarea-container>
              <textarea mz-textarea
                [label]="'Editace obsahu'"
                id="editEl"
                placeholder="Zde editujte obsah"></textarea>
            </mz-textarea-container>
          </div><!--/.col -->
        </div><!--/.row -->
      </div><!--/.col -->
    </div><!--/.row -->
  </div><!--/.container -->
</section>