<section>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5>{{'title.admin-page' | translate}}</h5>
        <div class="row">
          <div class="col s12 xl3">
            <mz-collection>
              <a mz-collection-link *ngFor="let m of state.config['editable_pages']" (click)="select(m)" [active]="selected === m">
                {{m | translate}} <i mz-icon-mdi *ngIf="selected === m" [icon]="'check'" [class]="'app-clean-mg'"></i>
              </a>
            </mz-collection>  
          </div><!--/.col -->
          <div class="col s12 xl9">
            <mz-textarea-container>
              <textarea mz-textarea
                [label]="'Editace obsahu'"
                id="editEl"
                placeholder="Zde editujte obsah"></textarea>
            </mz-textarea-container>
          </div><!--/.col -->
        </div><!--/.row -->
      </div><!--/.col -->
    </div><!--/.row -->
  </div><!--/.container -->
</section>