<section>
  <mz-collapsible [mode]="'expandable'">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'information'"></i> {{'text.informace-ke-spolupraci' | translate}}
        <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
        <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <mz-collection>
          <mz-collection-item>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin in tellus sit amet nibh dignissim sagittis. Aliquam id dolor. Pellentesque pretium lectus id turpis.
          </mz-collection-item>
          <mz-collection-item>
            Aenean vel massa quis mauris vehicula lacinia. Etiam neque. Fusce tellus odio, dapibus id fermentum quis, suscipit id erat. Nullam dapibus fermentum ipsum. Integer pellentesque quam vel velit. 
          </mz-collection-item>
          <mz-collection-item>
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
          </mz-collection-item>
          <mz-collection-item>
            Nulla non arcu lacinia neque faucibus fringilla. Vestibulum erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.
          </mz-collection-item>
        </mz-collection>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
</section>
