<section>
  <mz-collapsible [mode]="'expandable'">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'information'"></i> {{'text.informace-ke-spolupraci' | translate}}
        <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
        <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <mz-collection *ngIf="state.currentLang === 'cs'">
          <mz-collection-item>
            Digitalizujete a dosud nepřispíváte? Zapojte se! <a routerLink="/info" title="informační stránky">Na informačních stránkách</a> najdete doporučení, 
            návody i <a routerLink="/info/prehled_instituci" title="přehled přispívajících institucí">přehled přispívajících institucí</a> včetně kontaktů.<br />
          </mz-collection-item>
          <mz-collection-item>
            <!--Využívejte kontrolu v RD na ochranu před zbytečnou duplicitní digitalizací! Můžete vyhledávat i v Dalších zdrojích ze zahraničních digitalizací.-->
            S ohledem na nasazení nové beta verze Registru digitalizace může docházet k nestandardnímu chování systému. V případě zjištění jakýchkoli nedostatků prosíme o jejich ohlášení prostřednictvím tohoto <a href="https://github.com/incad/registrdigitalizace/issues" target="_blank" mz-tooltip [tooltip]="'https://github.com/incad/registrdigitalizace/issues'" [position]="'top'">odkazu</a>.
          </mz-collection-item>
        </mz-collection>
        
        <mz-collection *ngIf="state.currentLang === 'en'">
          <mz-collection-item>
            Digitization registry is a national registry of digitized documents. 
            Its main aim is to avoid unwanted duplicate digitization. 
            It serves also as the central access point to digitzed documents. 
            To know more about the digitizing institutions, see the list of <a routerLink="/info/prehled_instituci" title="přehled přispívajících institucí">participating institutions</a>.
          </mz-collection-item>
        </mz-collection>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
</section>
