<section>
  <mz-collapsible [mode]="'expandable'">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'information'"></i> {{'text.informace-ke-spolupraci' | translate}}
        <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
        <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <mz-collection>
          <mz-collection-item>
            Máte zájem <a routerLink="/info/data" title="Přispívat">přispívat</a> do Registru digitalizace? Chcete se dozvědět, jak funguje spolupráce?<br />
          </mz-collection-item>
          <mz-collection-item>
            Na <a routerLink="/info" title="Informačních stránkách">informačních stránkách</a> najdete doporučení, návody i přehled zapojených institucí vč. kontaktů.
          </mz-collection-item>
        </mz-collection>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
</section>
