<section>
  <mz-collapsible [mode]="'expandable'">
    <mz-collapsible-item [active]="true">
      <mz-collapsible-item-header>
        <i mz-icon-mdi [icon]="'eye'"></i> {{'text.prehled-dk-knihoven' | translate}}
        <i mz-icon-mdi [icon]="'chevron-down'" [class]="'app-clean-mg'"></i>
        <i mz-icon-mdi [icon]="'chevron-left'" [class]="'app-clean-mg'"></i>
      </mz-collapsible-item-header>
      <mz-collapsible-item-body>
        <mz-collection>
          <mz-collection-item>
            <span class="first-content">DK digitalni knihovny CR</span>
            <span class="middle-content"><a href="http://kramerius4.nkp.cz" title="http://kramerius4.nkp.cz" target="_blank">http://kramerius4.nkp.cz</a></span>
            <!--<span mz-secondary-content class="app-brand-text">
              <a href="#" title="">ABA001</a>,
              <a href="#" title="">ABA004</a>,
              <a href="#" title="">VISK7 (+BOA001 Z NZK)</a>
            </span>-->
          </mz-collection-item>
          <mz-collection-item>
            <span class="first-content">Collection item 1</span>
            <span class="middle-content">Collection item 2</span>
            <!--<span mz-secondary-content class="app-brand-text">Collection item 3</span>-->
          </mz-collection-item>
          <mz-collection-item>
            <span class="first-content">Collection item 1</span>
            <span class="middle-content">Collection item 2</span>
            <!--<span mz-secondary-content class="app-brand-text">Collection item 3</span>-->
          </mz-collection-item>
          <mz-collection-item>
            <span class="first-content">Collection item 1</span>
            <span class="middle-content">Collection item 2</span>
            <!--<span mz-secondary-content class="app-brand-text">Collection item 3</span>-->
          </mz-collection-item>
          <mz-collection-item>
            <span class="first-content">Collection item 1</span>
            <span class="middle-content">Collection item 2</span>
            <!--<span mz-secondary-content class="app-brand-text">Collection item 3</span>-->
          </mz-collection-item>
          <mz-collection-item>
            <span class="first-content">Collection item 1</span>
            <span class="middle-content">Collection item 2</span>
            <!--<span mz-secondary-content class="app-brand-text">Collection item 3</span>-->
          </mz-collection-item>
        </mz-collection>
      </mz-collapsible-item-body>
    </mz-collapsible-item>
  </mz-collapsible>
</section>
