<div>{{dir.name}}
  <span><a (click)="addFolder()">add folder</a></span>
  <span><a (click)="addPage()">add page</a></span>
  <ul class="browser-default">
    <li *ngFor="let d of dir.dirs"><app-menu-tree  [dir]="d" [path]="path + '/' + dir.name"></app-menu-tree></li>
    <li *ngFor="let m of dir['files']">
      <a mz-collection-link  (click)="select(m)" [active]="isActive(m)">
        {{m | translate}} <i mz-icon-mdi *ngIf="selected === m" [icon]="'check'" [class]="'app-clean-mg'"></i>
      </a>
    </li>
  </ul>
</div>  
