<ul class="browser-default">
  <ng-container *ngFor="let m of dir['pages']; let idx = index;" [class.app-root-page]="!path">
    <li [class.active]="isActive(m.name)" [class.disabled]="m.disabled">
      <span class="right app-cursor-pointer" id="{{m.name}}">
        <i class="app-mdi-dots-vertical"></i>
      </span>
      <mz-dropdown [id]="'actions-menu-'+m.name" [constrainWidth]="false" [dropdownButtonId]="m.name">
        <mz-dropdown-item><a (click)="addPage(m)">{{'btn.add-page' | translate}}</a></mz-dropdown-item>
        <mz-dropdown-item><a (click)="remove(dir['pages'], idx)">{{'btn.remove-page' | translate}}</a></mz-dropdown-item>
        <mz-dropdown-item><a (click)="moveup(dir['pages'], idx)">{{'btn.move-up' | translate}}</a></mz-dropdown-item>
        <mz-dropdown-item><a (click)="movedown(dir['pages'], idx)">{{'btn.move-down' | translate}}</a></mz-dropdown-item>
        <mz-dropdown-item *ngIf="!m.disabled"><a (click)="disable(m)">{{'btn.disable-page' | translate}}</a></mz-dropdown-item>
        <mz-dropdown-item *ngIf="m.disabled"><a (click)="enable(m)">{{'btn.active-page' | translate}}</a></mz-dropdown-item>
      </mz-dropdown>

      <a (click)="select(m)">
        <i *ngIf="isActive(m.name)" class="app-mdi-check"></i>
        {{m.name | translate}}&#160;
        <i *ngIf="m.disabled" class="app-mdi-cancel"></i>
      </a>
      <div class="clearfix"></div>
      <app-menu-tree *ngIf="m.pages" [dir]="m" [path]="path + '/' + m.name"></app-menu-tree>
    </li>
  </ng-container>
</ul>