<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">{{'title.app' | translate}}</h5>
      <p class="grey-text text-lighten-4">
        RD je společným projektem Národní knihovny České republiky, Knihovny Akademie věd a společnosti INCAD. 
      </p>
      <p class="grey-text text-lighten-4">
        Záměrem výchozího projektu bylo vytvořit národní registr digitalizovaných dokumentů, který by sloužil k řízení digitalizačního workflow jednotlivých institucí, zamezil duplicitě zpracování a umožnil sdílení výsledků digitalizace. 
      </p>
    </div><!--/.col -->
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">{{'title.partneri' | translate}}</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
      </ul>
    </div><!--/.col -->
  </div><!--/.row -->
</div><!--/.container -->
<div class="footer-copyright">
  <div class="container">
  © 2017 {{'title.app' | translate}}
  <a class="grey-text text-lighten-4 right" href="http://www.searchtechnologies.com/cz">Created by Search technologies</a>
  </div><!--/.container -->
</div><!--/.footer-copyright -->