<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">{{'title.app' | translate}}</h5>
      <p class="grey-text text-lighten-4">
        {{'footer.text-1' | translate}}
      </p>
      <div class="grey-text text-lighten-4" [class.collapse]="isFooterTextCollapsed" [attr.aria-expanded]="isFooterTextCollapsed ? 'false' : 'true'">
        <p>
          {{'footer.text-2' | translate}}
        </p>
      </div>
      <p>
        <button mz-button class="app-btn-show-more app-brand z-depth-0" [class.collapsed]="isFooterTextCollapsed" (click)="openFooterText()">
          <span *ngIf="isFooterTextCollapsed">{{'text.zobrazit-vice' | translate}} <i class="app-mdi-menu-down"></i></span>
          <span *ngIf="!isFooterTextCollapsed">{{'text.zobrazit-mene' | translate}} <i class="app-mdi-menu-up"></i></span>
        </button>
      </p>
    </div><!--/.col -->
    <div class="col l5 offset-l1 s12">
      <h5 class="white-text">{{'title.partneri' | translate}}</h5>
      <p>
        <a href="http://www.nkp.cz/" title="{{'title.nk' | translate}}" target="_blank"><img src="assets/img/logo-nk.png" alt="{{'title.nk' | translate}}" /></a>
        <a href="http://www.lib.cas.cz/" title="{{'title.knav' | translate}}" target="_blank"><img src="assets/img/logo-knav.png" alt="{{'title.knav' | translate}}" /></a>
        <a href="http://www.mzk.cz/" title="{{'title.mzk' | translate}}" target="_blank"><img src="assets/img/logo-mzk.png" alt="{{'title.mzk' | translate}}" /></a>
        <a href="http://www.accenture.com" title="{{'title.accenture' | translate}}" target="_blank"><img src="assets/img/logo-accenture.png" alt="{{'title.accenture' | translate}}" /></a>
      </p>
    </div><!--/.col -->
  </div><!--/.row -->
</div><!--/.container -->
<div class="footer-copyright">
  <div class="container">
  © 2017 {{'title.app' | translate}}
  <a class="grey-text text-lighten-4 right" href="http://www.searchtechnologies.com/cz">Created by Search technologies</a>
  </div><!--/.container -->
</div><!--/.footer-copyright -->