<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">{{'title.app' | translate}}</h5>
      <p class="grey-text text-lighten-4">
        RD je společným projektem Národní knihovny České republiky, Knihovny Akademie věd a společnosti INCAD. 
      </p>
      <p class="grey-text text-lighten-4">
        Záměrem výchozího projektu bylo vytvořit národní registr digitalizovaných dokumentů, který by sloužil k řízení digitalizačního workflow jednotlivých institucí, zamezil duplicitě zpracování a umožnil sdílení výsledků digitalizace.
      </p>
      <div class="grey-text text-lighten-4" [class.collapse]="isFooterTextCollapsed" [attr.aria-expanded]="isFooterTextCollapsed ? 'false' : 'true'">
        <p>
          S plánovaným přechodem na hromadnou digitalizaci s využitím robotických skenerů bude systém rozšířen o automatické sklízení dat a jejich následné zpracování a evidenci. 
        </p>
        <p>
          Systém je postaven na aplikačním frameworku RIII (J2EE) a data jsou ukládána do relační databáze Oracle. 
        </p>
        <p>
          Pro zpřístupnění aktuální informace o stavu digitalizace koncovým uživatelům je použit vyhledávací nástroj Fast. Všechny uživatelské přístupy jsou realizovány prostřednictvím webové aplikace. Při tvorbě systému byl kladen důraz na robustnost a snadnou rozšiřitelnost systému. 
        </p>
        <p>
          Řešení navazuje na další systémy využívané v knihovnách – Aleph, Kramerius, Sirius. 
        </p>
        <p>
          V současnosti pracuje realizační tým na verzi R4, která bude dostupná jako OpenSource, a která využívá projektů Fedora commons, Grails a Jasper. Předpokládá se její využití pro společný registr v rámci středoevropské spolupráce na digitalizaci dokumentů
        </p>
      </div>
      <p>
        <button mz-button class="app-btn-show-more" [class.collapsed]="isFooterTextCollapsed" (click)="openFooterText()">
          <span *ngIf="isFooterTextCollapsed">{{'text.zobrazit-vice' | translate}} <i class="app-mdi-menu-down"></i></span>
          <span *ngIf="!isFooterTextCollapsed">{{'text.zobrazit-mene' | translate}} <i class="app-mdi-menu-up"></i></span>
        </button>
      </p>
    </div><!--/.col -->
    <div class="col l5 offset-l1 s12">
      <h5 class="white-text">{{'title.partneri' | translate}}</h5>
      <p>
        <a href="http://www.nkp.cz/" title="{{'title.nk' | translate}}" target="_blank"><img src="/assets/img/logo-nk.png" alt="{{'title.nk' | translate}}" /></a>
        <a href="http://www.lib.cas.cz/" title="{{'title.knav' | translate}}" target="_blank"><img src="/assets/img/logo-knav.png" alt="{{'title.knav' | translate}}" /></a>
        <a href="http://www.searchtechnologies.com/cz" title="{{'title.st' | translate}}" target="_blank"><img src="/assets/img/logo-st.png" alt="{{'title.st' | translate}}" /></a>
        <a href="http://www.mzk.cz/" title="{{'title.mzk' | translate}}" target="_blank"><img src="/assets/img/logo-mzk.png" alt="{{'title.mzk' | translate}}" /></a>
      </p>
    </div><!--/.col -->
  </div><!--/.row -->
</div><!--/.container -->
<div class="footer-copyright">
  <div class="container">
  © 2017 {{'title.app' | translate}}
  <a class="grey-text text-lighten-4 right" href="http://www.searchtechnologies.com/cz">Created by Search technologies</a>
  </div><!--/.container -->
</div><!--/.footer-copyright -->