<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndexerServlet</servlet-name>
        <servlet-class>cz.incad.nkp.rdcz.IndexerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexerServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>cz.incad.nkp.rdcz.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    
    <servlet>
        <servlet-name>StaticServlet</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaticServlet</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/results/*</url-pattern>
        <url-pattern>/info/*</url-pattern>
        <url-pattern>/napoveda/*</url-pattern>
        <url-pattern>/duplicity/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ForwardServlet</servlet-name>
        <servlet-class>cz.incad.nkp.rdcz.ForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>cz.incad.nkp.rdcz.ConfigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/config/*</url-pattern>
        <url-pattern>/config</url-pattern>
        <url-pattern>/assets/config.json</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>I18nServlet</servlet-name>
        <servlet-class>cz.incad.nkp.rdcz.I18nServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>I18nServlet</servlet-name>
        <url-pattern>/assets/i18n/*</url-pattern>
        <url-pattern>/i18n/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TextsServlet</servlet-name>
        <servlet-class>cz.incad.nkp.rdcz.TextsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TextsServlet</servlet-name>
        <url-pattern>/texts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>cz.incad.nkp.rdcz.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>cz.incad.nkp.rdcz.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search/*</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
