// --- SEARCH BAR ---

app-search-bar {
  .container {
    padding: 0.75rem 0;
    @extend .app-border-radius;
    
    .row {
      margin: 0;
      
      .col:first-child {
        .app-form-group {
          position: relative;
          @extend .app-border-radius; 
          box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.01);
          &:focus, &:hover {
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.03);
          }
          .mdi-magnify {
            position: absolute;
            top: 0.1rem;
            left: 0.5rem;
          }
          .mdi-navigation-close,
          .mdi-menu {
            position: absolute;
            top: 0.1rem;
            right: 0.5rem;
            font-size: inherit;
          }
          input[type=search] {
            border: 0;
            padding-left: 2.5rem;
            padding-right: 0.5rem;
          }
        }
      }
      .col:nth-child(2) {
        height: $input-height;
        line-height: $input-height;
        padding-left: 0;
      }
      .col:last-child {
        text-align: right;
        
        .btn {
          height: $input-height;
          line-height: $input-height;
        }
      } 
    }
  } 
}