// --- HEADER ---

header {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  flex: none;
  
  .app-navbar {
    nav {
      @extend .z-depth-0;
      background-color: transparent;
      margin: 40px 0 20px 0;
    } 
  }
}