// --- VARIABLES --

// paths
//$roboto-font-path: "../node_modules/materialize-css/fonts/roboto/" !default;
//$mdi-font-path: "../node_modules/mdi/fonts" !default;
$roboto-font-path: "assets/fonts/roboto/" !default;
$mdi-font-path: "assets/fonts" !default;

// colors
$primary-color: color("app-brand", "darken-1") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("app-brand", "app-red") !default;

// brand pallete colors
$app-brand-l-1: color("app-brand", "lighten-1"); // #78909c
$app-brand-l-2: color("app-brand", "lighten-2"); // #90a4ae
$app-brand-l-3: color("app-brand", "lighten-3"); // #b0bec5
$app-brand-l-4: color("app-brand", "lighten-4"); // #cfd8dc
$app-brand-l-5: color("app-brand", "lighten-5"); // #d5dfe3
$app-brand-l-6: color("app-brand", "lighten-6"); // #eceff1
$app-brand-d-1: color("app-brand", "darken-1");  // #546e7a
$app-brand-d-2: color("app-brand", "darken-2");  // #455a64
$app-brand-d-3: color("app-brand", "darken-3");  // #37474f
$app-brand-d-4: color("app-brand", "darken-4");  // #263238

$app-state-finished: color("app-brand", "app-green");
$app-state-progress: color("app-brand", "app-orange");
$app-state-planovane: color("app-brand", "app-purple");

$app-white: color("shades", "white");
$app-black: color("shades", "black");
  
// navbar
$navbar-font-color: color("blue-grey", "base") !default;
$navbar-height: 62px !default;
$navbar-line-height: $navbar-height !default;
$navbar-height-mobile: 56px !default;

// buttons
$button-padding: 0 1rem !default;

// general
$app-border-radius: 2px;

// inputs
$input-height: 2.6rem !default;

// checkbox
$radio-empty-color: $primary-color !default;
//$radio-fill-color: $link-color !default;

// app left menu
$app-left-menu-el-line-height: 30px !default;

// dropdown
$dropdown-hover-bg-color: $app-brand-l-6 !default;
$dropdown-color: $primary-color !default;

// collection
$collection-border-color: $app-brand-l-5 !default; //

// collapsible
$collapsible-border-color: $app-brand-l-5 !default;

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
$large-only: "only screen and (max-width : #{$large-screen}) and (min-width : #{$medium-screen})" !default;