// --- FOOTER ---

footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  flex: none;
  
  .collapse {
    display: none;
  }
  
  .col:last-child {
    img {
      display: inline-block;
      margin: 0 30px 20px 0;
      vertical-align: top;
    }
  }
}