// --- ADMIN ---

app-admin {
  section {
    h5 {
      @include set-border(bottom, 1, solid, $app-brand-l-5);
      margin-top: 20px !important;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
    padding-left: 0.75rem;

    #editEl_ifr {
      height: 300px !important;
    }
    
    .app-menu-col {
      
      & > app-menu-tree {
        & > .browser-default {
          &:first-child {
            margin-top: 0;
            padding-left: 0;
          }
        }
      }
      
      app-menu-tree {
        & > .browser-default {
          & > li {
            list-style-position: inside;

            & > a {
              height: 36px;
              line-height: 36px;
              color: $app-brand-d-1;

              &:hover {
                color: $link-color;
              }
            }

            &.active {
              list-style: none;

              & > a {
                font-weight: bold;
                color: $link-color;
              }
            }
          }
        }  
      }
      
      
      
/*      & > app-menu-tree {
        & > .app-wrapper {
          & > .app-header {
            @extend .app-cursor-pointer;
            padding: 0.5rem 1rem;
            background-color: $secondary-color;
            border-radius: $app-border-radius;
            color: color("shades", "white");
            
            & > .app-mdi-file-plus {
              display: none;
            }
            & > .app-mdi-folder-plus {
              padding-left: 0 !important;
              padding-right: 5px;
            }
            & > strong {
              display: inline-block;
              &:first-letter {
                text-transform: uppercase;
              } 
            }
            
            &:hover {
              background-color: color("teal", "base");
            }
          }
          & > ul {
            @include set-border(all, 1, solid, $app-brand-l-5);
            @extend .app-card-shadow;
            border-radius: $app-border-radius;
            @extend .app-clean-pd;
            list-style: none;
            list-style-position: inside;
            
            & > li {
              &.app-root-page {
                padding: 0.5rem 1rem;
                @include set-border(bottom, 1, solid, $app-brand-l-5);
                
                & > a {
                  &.active {
                    color: $secondary-color;
                  }
                  &:hover {
                    background-color: color("grey", "lighten-5");
                  }
                }
                &:last-child {
                  border-bottom: none !important;
                }
              }
              
              & > app-menu-tree {
                & > .app-wrapper {
                  & > .app-header {
                    padding: 0.7rem 1rem;
                    @include set-border(bottom, 1, solid, $app-brand-l-5);
                    background-color: $app-brand-l-6;
                    
                    & > .app-mdi-folder-plus {
                      display: none;
                    }
                  }
                  & > ul {
                    @extend .app-clean-pd;
                    list-style: none;
                    list-style-position: inside;
                    & > li {
                      padding: 0.5rem 2rem;
                      @include set-border(bottom, 1, solid, $app-brand-l-5);
                      
                      & > a {
                        &.active {
                          color: $secondary-color;
                        }
                      }
                      &:hover {
                        background-color: color("grey", "lighten-5");
                      }
                    }
                  }
                }
              }
              &:last-child {
                & > app-menu-tree {
                  & > .app-wrapper {
                    & > ul {
                      & > li {
                        &:last-child {
                         border-bottom: none !important; 
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }*/
    }
  }
}