// --- ADMIN ---

app-admin {
  section {
    h5 {
      @include set-border(bottom, 1, solid, $app-brand-l-5);
      margin-top: 20px !important;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
    //padding-left: 0.75rem;

    #editEl_ifr {
      height: 300px !important;
    }
    
    .app-menu-col {
      
      & > app-menu-tree {
        & > .browser-default {
          &:first-child {
            margin-top: 0;
            padding-left: 0;
          }
        }
      } 
      
      app-menu-tree {
        & > .browser-default {
          padding-left: 20px;
          
          & > li {
            list-style-position: inside;
            
            & > span {
              line-height: $app-left-menu-el-line-height;
            }

            & > a {
              color: $app-brand-d-1;
              line-height: $app-left-menu-el-line-height;

              &:hover {
                color: $link-color;
              }
            }

            &.active {
              list-style: none;

              & > a {
                font-weight: bold;
                color: $link-color;
              }
            }
            
            &.disabled {
              & > a {
                opacity: 0.5; 
              }
            }
          }
        }  
      }
    }
  }
}