// --- RESULT ITEM ---

app-result-item {
  .card {
    margin-bottom: 20px;
    @extend .app-card-shadow;
    @extend .app-card-hoverable;
    @include set-border(all, 1, solid, $app-brand-l-5);
    
    // state
    .app-state {
      display: block;
      position: absolute;
      top: 20px;
      left: -3px;

      .app-state-item {
        display: block;
        width: 5px;
        height: 30px;
        margin-bottom: 1px;
      }
    }

    .card-content {
      padding: 20px;
      
      .card-title {
        margin: 0;
      }
      .row {
        .col {
          .card-title {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 5px;
          }   
        }
      }
      label {
        display: block;
        
        strong {
          color: color("grey", "darken-1");
        }
        span:last-child {
          .app-separator {
            display: none;
          } 
        }
      }
      
      .app-card-detail {
        .collapsible {
          @extend .z-depth-0;
          @extend .app-border-radius;
          margin-bottom: 0;
          
          .collapsible-header {
            .mdi {
              width: auto;
              margin-right: .5rem;
            }
            .mdi-minus {
              display: none;
            }
            &.active {
              .mdi-plus {
                display: none;
              }
              .mdi-minus {
                display: block;
              }
            }
          }
          
          .collapsible-body {
            padding: 0;
            overflow: auto;
            max-height: 200px;
            
            table {
              font-size: 13px;

              thead {
                @include set-border(bottom, 1, solid, $app-brand-l-6);
              }
              th, td {
                vertical-align: top;
                padding: 5px;
                &:first-child {
                  padding-left: 1rem;
                }
              }
              th {
                color: $app-brand-d-1;
                @extend .app-cursor-pointer;
                font-weight: normal;
                
                &.active {
                  @include set-mdi-icon(after, F05D, 14, middle);
                }
                &.active.active-down:hover, &.active.active-down {
                  @include set-mdi-icon(after, F045, 14, middle);
                }
              }
              td {
                color: $app-brand-l-1;

                span {
                  display: inline-block;
                  width: 13px;
                  height: 13px;
                }
              }
              &.striped > tbody > tr:nth-child(odd) {
                background-color: color("grey", "lighten-5");;
              }
            }
            
            .collection {
              padding: 10px 0;
              .collection-item {
                padding: 0 20px;
                border: none;
                color: $link-color;
                
                &:hover {
                  background-color: $app-brand-l-6;
                }
              }
            }
          } //--/.collapsible-body
        } //--/.collapsible
      } //--/.card-detail
    } //--/.card-content
    
    .card-action {
      border-color: $app-brand-l-5;
      
      span {
        font-size: 0.8rem;
        text-transform: none;
      }
    } //--/.card-action
    
    &:not(:last-child) {
      margin-bottom: 20px; 
    }
  } //--/.card
} //--/.app-result-item
