// --- COUNT BAR ---

app-count-bar {
  section {
    @include set-border(bottom, 3, solid, $app-brand-l-6);
    padding: 10px 0;
    
    .col:first-child {
      span {
        line-height: 30px;
      }
    }
    .col:last-child {
      padding-right: 0;
    }
  }
}