// --- FACETS ---

app-facets,
app-used-filters {
  .collapsible {
    margin: 0;
    
    .collapsible-header {
      background-color: $app-brand-l-6;
      position: relative;
      
      .mdi-chevron-down, .mdi-chevron-left, .mdi-close-circle {
        position: absolute;
        top: 0;
        right: 15px;
      }
      .mdi-chevron-down {
        display: none;
      }
      .mdi-chevron-left {
        display: block;
      }
      &.active {
        .mdi-chevron-down {
          display: block;
        }
        .mdi-chevron-left {
          display: none;
        }
      }
    }
    .collapsible-body {
      padding: 0;
      
      .collection {
        .collection-item {
          display: table;
          width: 100%;
          
          &:hover {
            background-color: color("grey", "lighten-5");
          }
          
          .app-state:first-child {
            display: inline-block;
            width: 13px;
            height: 13px;
            margin-right: 0.5rem;
            background-color: $app-brand-l-2;

            &.app-state-finished {background-color: $app-state-finished;}
            &.app-state-progress {background-color: $app-state-progress;}
            &.app-state-planovane {background-color: $app-state-planovane;}
          }
          .first-content {
            display: table-cell;
            width: 80%;
            @extend .app-cursor-pointer;
          }
          .secondary-content {
            display: table-cell;
            float: none;
            text-align: right;
            width: 20%;
          }
        }
      }
    }
  }
}