// --- HEADER ---

header {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  flex: none;
  
  .app-navbar {
    nav {
      @extend .z-depth-0;
      background-color: transparent;
      margin: 40px 0 20px 0;
      
      .container {
        position: relative;
        
        .app-beta {
          position: absolute;
          left: 250px;
          top: 12px;
          //box-shadow: 5px 6px 16px -6px rgba(0,0,0,0.40);
          box-shadow: 0px 4px 16px -6px rgba(0, 0, 0, 0.7);
          margin: 0;
        }
      }
      
      ul {
        li {
          &.active {
            background-color: $app-brand-l-6;
          }
          a {
            position: relative;
            
            &:hover {
              background-color: transparent;
              
              &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 3px;
                padding: 0 15px;
                background-color: $app-brand-l-1;
              } 
            }
          }
        }
      }
    }
    
    // mq
    @media #{$large-and-up} {
      #app-btn-sidenav {
        display: none !important;
      } 
    }

    @media #{$large-only}  {
      .responsive-img {
        width: 80%;
      }
    }
    // end mq
  }
}