// --- SORT BAR ---

app-sort-bar {
  section {
    
    .col {
      
      span {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        
        .dropdown-content {
          min-width: 170px;
        }
      }
    }
    .col:last-child {
      text-align: right;
      
      .app-btn-chart-bar {
        .app-btn-hidde {
          display: none;
        }
        &.active {
          .app-btn-show {
            display: none;
          }
          .app-btn-hidde {
            display: block;
          }
        }
      }
    }
  }
}