// --- HOME ---

app-home {
  & > {
    .container {
      margin-top: 20px;
    }
  }
  .collapsible {
    .collapsible-body {
      .collection {
        overflow: auto;
        height: 215px;
      }
    }
  }
}