// --- HOME ---

app-home {
  .container {
    & > .row {
      &:last-child {
        margin-bottom: 10px;  
      }
      
      .col {
        .collapsible {
          .collapsible-body {
            .collection {
              overflow: auto;
              height: 215px;
            }
          }
        }
      }
    }
  }
}