// --- GLOBAL ---

html {
  height: 100%;
}

body, 
app-root {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  color: $primary-color !important;
  
  > .preloader-wrapper {
    margin-top: 100px;
  }
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%;
  position: relative;
  //min-height: 500px;
}

a {
  cursor: pointer;
}


// loading ico
.preloader-wrapper {
  margin-right: auto;
  margin-left: auto;
}


// buttons
.btn, .btn-large, .btn-flat {
  //text-transform: inherit;
}


// row
.row {
  margin-bottom: 0;
}


// section
section {
  margin-bottom: 20px;
}


// app container
.app-container {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}


// others
.app-mg-top-20 {
  margin-top: 20px;
}

.app-pipe {
  margin: 0 2px;
}

.app-border-radius {
  border-radius: $app-border-radius;
}

.app-cursor-pointer {
  cursor: pointer;
}


// cleaners
.app-clean-mg,
.checkbox-field {
  margin: 0 !important;
}

.app-clean-pd-bottom {
  padding-bottom: 0 !important;
}


// mdi icons global
.app-mdi-menu-down {
  @include set-mdi-icon(after, F35D, 24, middle);
}

.app-mdi-menu-up {
  @include set-mdi-icon(after, F360, 24, middle);
}

.app-mdi-chart-bar {
  @include set-mdi-icon(before, F128, 24, middle);
}

.app-mdi-close {
  @include set-mdi-icon(before, F156, 24, middle);
}

.app-mdi-menu {
  @include set-mdi-icon(after, F35C, 24, middle);
}

.app-mdi-close-circle {
  @include set-mdi-icon(before, F159, 24, middle);
}


// clearfix
.clearfix {
  @include clearfix();
}


// states
.app-state-item {background-color: $app-brand-l-2;}
.app-state-item-finished {background-color: $app-state-finished;}
.app-state-item-progress {background-color: $app-state-progress;}
.app-state-item-planovane {background-color: $app-state-planovane;}


// card
.app-card-shadow {
  box-shadow: 0 2px 2px 0 rgba(38, 50, 56, 0), 0 1px 5px 0 rgba(38, 50, 56, 0.1), 0 3px 1px -20px rgba(38, 50, 56, 0.1);
}

.app-card-border {
  @include set-border(all, 1, solid, $app-brand-l-5);
}

.app-card-hoverable {
  &.hoverable {
    &:hover {
      box-shadow: 0 8px 17px 0 rgba(38, 50, 56, 0.1), 0 6px 20px 0 rgba(38, 50, 56, 0.19);
    }
  }
}


// alerts
// https://github.com/Dogfalo/materialize/issues/2340
/*$('.alert').append('<button class="waves-effect btn-flat close"><i class="material-icons">close</i></button>');
$('body').on('click', '.alert .close', function() {
  $(this).parent().fadeOut(300, function() {
      $(this).remove();
  });
});*/
.alert {
  @extend .card-panel, .lighten-4, .text-darken-4;
  margin-bottom: 0;
  
  &.alert-success {
      @extend .green, .green-text;
  }
  &.alert-info {
      @extend .blue, .blue-text;
  }
  &.alert-warning {
      @extend .yellow.lighten-4, .yellow-text;
  }
  &.alert-danger {
      @extend .red, .red-text;
  }
  .close {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    color: inherit;
    margin-top: -18px;
  }
}
