// --- GLOBAL ---

html {
  height: 100%;
}

body, 
app-root {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  color: $primary-color !important;
  
  > .preloader-wrapper {
    margin-top: 100px;
  }
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%;
  position: relative;
  //min-height: 500px;
}

a {
  cursor: pointer;
}


// loading ico
.preloader-wrapper {
  margin-right: auto;
  margin-left: auto;
}

// buttons
.btn, .btn-large, .btn-flat {
  text-transform: inherit;
}


// row
.row {
  margin-bottom: 0;
}


// section
section {
  margin-bottom: 20px;
}


// app container
.app-container {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

// cleaners
.app-clean-mg,
.checkbox-field {
  margin: 0 !important;
}

.app-border-radius {
  border-radius: $app-border-radius;
}

.app-cursor-pointer {
  cursor: pointer;
}


// mdi icons global
.app-mdi-menu-down {
  @include set-mdi-icon(after, F35D, 24, middle);
}

.app-mdi-chart-bar {
  @include set-mdi-icon(before, F128, 24, middle);
}

.app-mdi-close {
  @include set-mdi-icon(before, F156, 24, middle);
}


// clearfix
.clearfix {
  @include clearfix();
}


// states
.app-state-item {background-color: $app-brand-l-2;}
.app-state-item-finished {background-color: $app-state-finished;}
.app-state-item-progress {background-color: $app-state-progress;}
.app-state-item-planovane {background-color: $app-state-planovane;}
