// --- FACETS ---

app-facets,
app-used-filters {
  .collapsible {
    margin: 0;
    @extend .app-card-shadow;
    @extend .app-border-radius;
    
    .collapsible-header {
      background-color: $app-brand-l-6;
      position: relative;
      
      .mdi-chevron-down, .mdi-chevron-left, .mdi-close-circle {
        position: absolute;
        top: 0;
        right: 15px;
      }
      .mdi-chevron-down {
        display: none;
      }
      .mdi-chevron-left {
        display: block;
      }
      &.active {
        .mdi-chevron-down {
          display: block;
        }
        .mdi-chevron-left {
          display: none;
        }
      }
    }
    .collapsible-body {
      padding: 0;
      
      .collection {
        & > span {
          &:last-child {
            > .collection-item  {
              border-bottom: none !important;
            }
          }
          .collection-item {
            @include set-border(bottom, 1, solid, $app-brand-l-5);
          }
        }
        .app-sort-header {
          font-size: 0.8rem;
          span {
            &:hover {
              @include set-mdi-icon(after, F045, 14, middle);
            }
          }
        }
        .collection-item {
          display: table;
          width: 100%;
          
          &:hover {
            background-color: color("grey", "lighten-5");
          }
          
          .app-state-item:first-child {
            display: inline-block;
            width: 13px;
            height: 13px;
            margin-right: 0.5rem;
          }
          .first-content {
            display: table-cell;
            width: 60%;
            @extend .app-cursor-pointer;
          }
          .middle-content {
            display: table-cell;
            float: none;
            text-align: left;
            width: 20%;
          }
          .secondary-content {
            display: table-cell;
            float: none;
            text-align: right;
            width: 20%;
          }
        }
      }
    }
  }
}