// --- RESULT ITEM ---

app-result-item {
  .card {
    margin-bottom: 20px;
    @extend .app-card-shadow;
    @extend .app-card-hoverable;
    @include set-border(all, 1, solid, $app-brand-l-5);
    
    // state
    .app-state {
      display: block;
      position: absolute;
      top: 20px;
      left: -3px;

      .app-state-item {
        display: block;
        width: 5px;
        height: 30px;
        margin-bottom: 1px;
      }
    }

    .card-content {
      padding: 20px;
      
      .card-title {
        margin: 0;
        
        > i.mdi {
          margin-right: 1px;
        }
      }
      .row {
        .col {
          .card-title {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 5px;
          }
          &:first-child {
            width: auto;
          }
        }
      }
      label {
        display: block;
        
        strong {
          color: color("grey", "darken-1");
        }
        span:last-child {
          .app-separator {
            display: none;
          } 
        }
      }
      
      .app-card-detail {
        
        table {
          font-size: 0.8rem;
          
          th, td {
            vertical-align: top;
            border-radius: 0;
            padding: 5px;
          }
          th {
            color: $app-brand-d-1;
            font-weight: normal;
          }
          td {
            color: $app-brand-l-1;
            
            .checkbox-field {
              [type="checkbox"] + label {
                padding-left: 30px;
                font-size: 0.8rem;
                height: 20px;
              }
            }
          }
          &.app-table-vlastnik {
            margin: 15px 0 20px 0;
            
            td {
              padding-bottom: 0;
            }
            
            thead {
              background-color: color("grey", "lighten-4");
              border: none;
            }
          }
        }
        
        .collapsible {
          @extend .z-depth-0;
          @extend .app-border-radius;
          margin-bottom: 0;
          
          .collapsible-header {
            .mdi {
              width: auto;
              margin-right: .5rem;
            }
            .mdi-minus {
              display: none;
            }
            &.active {
              .mdi-plus {
                display: none;
              }
              .mdi-minus {
                display: block;
              }
            }
          }
          
          .collapsible-body {
            padding: 0;
            
            .app-table-predlohy {
              height: 100%;
              thead {
                border-bottom: none;
                
                tr {
                  height: 100%;
                  
                  th {
                    @extend .app-cursor-pointer;
                    padding: 0;
                    height:100%;

                    span {
                      display: block;
                      @include set-border(bottom, 1, solid, $app-brand-l-6);
                      padding: 5px;
                      position: relative;
                      height: 100%;

                      &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
                      }

                      &.active {
                        @include set-mdi-icon(after, F05D, 14, middle); 
                      }
                      &.active.active-down:hover, &.active.active-down {
                        @include set-mdi-icon(after, F045, 14, middle); 
                      }
                    }
                  }
                }
              }
              
              td {
                span {
                  display: inline-block;
                  width: 13px;
                  height: 13px;
                }
              }
              &.striped > tbody > tr:nth-child(odd) {
                background-color: color("grey", "lighten-5");;
              }
            }
            
            .collection {
              padding: 10px 0;
              .collection-item {
                padding: 0 20px;
                border: none;
                color: $link-color;
                
                &.app-link {
                  font-size: 0.8rem;
                }
                
                &:hover {
                  background-color: $app-brand-l-6;
                }
              }
            }
          } //--/.collapsible-body
        } //--/.collapsible
      } //--/.card-detail
    } //--/.card-content
    
    .card-action {
      border-color: $app-brand-l-5;
      
      span {
        font-size: 0.8rem;
        text-transform: none;
        a {
          text-transform: none !important;
        }
      }
    } //--/.card-action
    
    &:not(:last-child) {
      margin-bottom: 20px; 
    }
  } //--/.card
} //--/.app-result-item