// --- INFO ---

app-info {
  section {
    h5 {
      @include set-border(bottom, 1, solid, $app-brand-l-5);
      margin-top: 20px !important;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
    
    padding-left: 0.75rem;
    
    .app-menu-col {
      
      & > app-info-menu {
        & > .browser-default {
          &:first-child {
            padding-left: 0.75rem;
          }
        }
      }
      
      app-info-menu {
        & > .browser-default {
          & > li {
            list-style-position: inside;

            & > a {
              height: 36px;
              line-height: 36px;
              color: $app-brand-d-1;

              &:hover {
                color: $link-color;
              }
            }

            &.active {
              list-style: none;

              & > a {
                font-weight: bold;
                color: $link-color;
              }
            }
          }
        }  
      }
    }
  }
}