// --- VARIABLES --

// paths
$roboto-font-path: "../node_modules/materialize-css/fonts/roboto/" !default;
$mdi-font-path: "../node_modules/mdi/fonts" !default;


// colors
$primary-color: color("app-brand", "darken-2") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

// navbar
$navbar-font-color: color("blue-grey", "base") !default;

// general
$app-border-radius: 2px;