<div class="container app-brand lighten-4">
  <div class="row">
    <div class="col s12 m4 l5 xl4">
      <form class="app-form-group shades white"
            #searchForm>
        <div class="input-field app-clean-mg">
          <input #q id="q" type="search" class="app-clean-mg" placeholder="{{'q.placeholder' | translate}}" autocomplete="off"
            name="q"
            (keyup.enter)="search()"
            [(ngModel)]="state.q">
          <i mz-icon-mdi [icon]="'magnify'" (click)="search()" class="app-cursor-pointer"></i>
          <i mz-button id="btn-advanced-search" class="app-mdi-menu app-cursor-pointer" mz-tooltip [tooltip]="'btn.rozsirene-hledani' | translate" [position]="'top'"  [class.collapsed]="state.isAdvancedCollapsed" (click)="openAdvanced()"></i>
          <i *ngIf="state.q" mz-icon-mdi [icon]="'close'" (click)="cleanQ()"></i><!--[class]="'mdi-navigation-close'"-->
          <!-- Advanced search -->
          <mz-card #filter class="white" [hoverable]="true" 
            [class.collapse]="state.isAdvancedCollapsed" [attr.aria-expanded]="state.isAdvancedCollapsed ? 'false' : 'true'"
             (keyup.enter)="search()"
             >
            <mz-card-content>
              <mz-input-container>
                <input #advNazev mz-input [label]="'label.nazev' | translate" name="advNazev" id="advNazev" [(ngModel)]="state.advParams.title" type="text" />
              </mz-input-container>
              <mz-input-container>
                <input mz-input [label]="'label.hlavni-autor' | translate" name="advAutor" id="advAutor" [(ngModel)]="state.advParams.autor" type="text">
              </mz-input-container>
              <mz-input-container>
                <input mz-input [label]="'label.rok-vydani' | translate" name="advRokVyd" id="advRokVyd" [(ngModel)]="state.advParams.rokvyd" type="text">
              </mz-input-container>
              <mz-input-container>
                <input mz-input [label]="'label.nakladatel' | translate" name="advVydavatel" id="advVydavatel" [(ngModel)]="state.advParams.vydavatel" type="text">
              </mz-input-container>
              <mz-input-container>
                <input mz-input [label]="'ISSN/ISBN'" name="advISXN" id="advISXN" [(ngModel)]="state.advParams.isxn" type="text">
              </mz-input-container>
              <mz-input-container>
                <input mz-input [label]="'čČNB'" name="advCnb" id="advCnb" [(ngModel)]="state.advParams.ccnb" type="text">
              </mz-input-container>
              <mz-input-container>
                <input mz-input [label]="'label.signatura' | translate" name="advSignatura" id="advSignatura" [(ngModel)]="state.advParams.signatura" type="text">
              </mz-input-container>
              <mz-input-container>
                <input mz-input [label]="'label.car-kod' | translate" name="advCarKod" id="advCarKod" [(ngModel)]="state.advParams.carkod" type="text">
              </mz-input-container>
              <mz-input-container>
                <input mz-input [label]="'label.cislo-rdcz' | translate" name="advCisloRDCZ" id="advCisloRDCZ" [(ngModel)]="state.advParams.cislordcz" type="text">
              </mz-input-container>
              <mz-input-container>
                <input mz-input [label]="'label.pole001' | translate" name="advPole001" id="advPole001" [(ngModel)]="state.advParams.pole001" type="text">
              </mz-input-container>
              <mz-input-container>
                <input mz-input [label]="'ČAN'" name="advCan" id="advCan" [(ngModel)]="state.advParams.can" type="text">
              </mz-input-container>
            </mz-card-content>
          </mz-card><!--/advanced search -->
        </div>
      </form><!--/.form -->
    </div><!--/.col -->
    <div class="col s12 m3 l3 xl3">
      <mz-checkbox-container>
        <input mz-checkbox [label]="'btn.test-duplicity' | translate" id="duplicity" [(ngModel)]="state.isDuplicity" type="checkbox" (change)="changeDuplicity()">
      </mz-checkbox-container>
    </div><!--/.col -->
    <div class="col s12 m5 l4 xl5">
      <button mz-button id="btn-other-sources" href="javascript:void(0)" class="app-mdi-menu-down app-brand lighten-6 app-brand-text text-darken-1 z-depth-0">
        {{'btn.jine-zdroje' | translate}}
      </button>
      <mz-dropdown [id]="'dropdown-other-sources'" [dropdownButtonId]="'btn-other-sources'">
        <mz-dropdown-item><a [href]="'http://books.google.com/books?q='+state.q" target="_blank">Google books</a></mz-dropdown-item>
        <mz-dropdown-item><a [href]="'https://www.difmoe.eu/d/search/?q=' + state.q" target="_blank">DiFMOE</a></mz-dropdown-item>
        <mz-dropdown-item><a [href]="'http://anno.onb.ac.at/anno-suche#searchMode=simple&from=1&query=' + state.q" target="_blank">ANNO</a></mz-dropdown-item>
        <mz-dropdown-item><a [href]="'https://archive.org/search.php?query=' + state.q" target="_blank">Internet Archive</a></mz-dropdown-item>
        <mz-dropdown-item><a routerLink="info/digbohemika">{{'text.Bohemika-out-RD' | translate}}</a></mz-dropdown-item>
        
      </mz-dropdown>
    </div><!--/.col -->
  </div><!--/.row -->
</div><!--/.app-searchbar -->