<div class="container app-searchbar">
  <div class="row">
    <div class="col s6">
      <input type="text" />
    </div><!--/.col -->
     <div class="col s6 text-right">
      <a mz-button id="btn-dropdown-basic" href="javascript:void(0)">Dropdown</a>
       <mz-dropdown [id]="'dropdown-basic'" [dropdownButtonId]="'btn-dropdown-basic'">
        <mz-dropdown-item><a href="javascript:void(0)">One</a></mz-dropdown-item>
        <mz-dropdown-item><a href="javascript:void(0)">Two</a></mz-dropdown-item>
        <mz-dropdown-item><a href="javascript:void(0)">Three</a></mz-dropdown-item>
      </mz-dropdown>
    </div><!--/.col -->
  </div><!--/.row -->
</div><!--/.app-searchbar -->